@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 24px;
}

body {
  margin: 0;
  background-color: #fff1c5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quadro {
  color: #fff;
  width: 60%;
  height: 40%;
  padding: 5%;
  background-color: green;
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.35),
    18px 18px 26px 1px rgba(0, 0, 0, 0.64);
  border: 10px outset #5b0000;
  overflow-y: auto;
}

ul {
  padding: 0;
  margin: 0;
}

#todo-list {
  display: flex;
  flex-direction: column;
  max-height: 80%;
  flex-wrap: wrap;
  column-gap: 30px;
  justify-content: space-around;
}

.quadro-footer {
  margin: 20px;
}
